th,
td {
    padding: 8px !important;
    vertical-align: middle !important;
}

.search-item2 {
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    position: absolute;
    top: 5px;
    right: 10px;
    background: white;
    padding: 5px 0 5px 5px;
    z-index: 4;
    height: 27px;
}

input.error {
    border: 1px solid #dc3545;
}
label.error {
    color: #dc3545;
    margin: 0;
}

#table-data_paginate,
#table-search_paginate,
#table-upload_paginate {
    margin-top: 0 !important;
}

#table-data_paginate ul,
#table-search_paginate ul,
#table-upload_paginate ul {
    float: right;
}

.form-body {
    position: relative;
    overflow: auto;
}

#content-delete {
    position: relative;
    overflow: auto;
}
.hidden {
    display: none;
}

.datetime-reset-button {
    margin-right: 20px !important;
    margin-top: 3px !important;
}
#table-search {
    border-collapse: collapse !important;
}

#table-search_filter label,
#table-search_filter input {
    width: 100%;
}

.dataTables_wrapper .paginate_button.previous {
    margin-right: 0px;
}

.dataTables_wrapper .paginate_button.next {
    margin-left: 0px;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 0px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
}
.dataTables_wrapper .paginate_button.page-item {
    padding-left: 5px;
    padding-right: 5px;
}
.px-0 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

#table-data_filter label,
#table-upload_filter label {
    width: 100%;
}

#table-data_filter label input,
#table-upload_filter label input {
    width: inherit;
}

#searchData {
    font-size: 0.75rem;
    height: 31px;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-aksi > .dropdown-item {
    font-size: 0.7rem;
}

.saicon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: black;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.btn-light2 {
    background: #f8f8f8;
    color: #505050 !important;
}

.btn-light2:hover {
    color: #131113 !important;
}

.btn-light2:active {
    color: #131113 !important;
    background-color: #d8d8d8;
}

.btn-light2:hover > i.saicon {
    background: #131113;
}
.btn-light2:active > i.saicon {
    color: #131113;
}

.custom-file-label::after {
    content: "Cari berkas" !important;
    border-left: 0;
    color: var(--theme-color-1) !important;
}
.focus {
    /* border:none !important; */
    box-shadow: none !important;
}
.kredit {
    margin-top: -50px;
}
.nav-grid {
    margin-top: -10px;
}

.form-row > .col,
.form-row > [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    border-radius: 8px !important;
}

.form-control {
    padding: 0.1rem 0.5rem;
    height: calc(1.3rem + 1rem);
    border-radius: 0.5rem !important;
}

.input-group > .form-control {
    border-radius: 0.5rem !important;
}

th {
    vertical-align: middle !important;
}

.table-grid {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    white-space: nowrap;
}
.table-grid .selectize-input.focus,
.table-grid input.form-control,
.table-grid .custom-file-label {
    border: 1px solid black !important;
    border-radius: 0 !important;
}

.table-grid .selectize-input {
    border-radius: 0 !important;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem 0 -1rem auto;
}
.check-item {
    cursor: pointer;
}

.selected {
    cursor: pointer;
}

.table-grid td:not(:nth-child(1)):not(:nth-child(2)):hover {
    background: #f8f8f8;
    color: black;
}

.table-grid ul.typeahead.dropdown-menu {
    width: max-content !important;
}

.table-grid td {
    overflow: hidden !important;
    height: 37.2px !important;
    padding: 0px !important;
}

.table-grid span {
    padding: 0px 10px !important;
}

.table-grid input,
.table-grid .selectize-input {
    overflow: hidden !important;
    height: 35px !important;
}

.table-grid td:nth-child(5) {
    overflow: unset !important;
}

.nav-control {
    border: 1px solid #ebebeb;
    padding: 0px 5px;
}

.pemisah {
    border: 1px solid #d7d7d7;
    font-size: 20px;
}

.total-row {
    font-size: 18px;
    float: right;
    margin-top: 6px;
    text-align: right;
}
.total-row > span {
    font-size: 12.8px;
    padding: 0.5rem 0.5rem 0.5rem 1.25rem;
    margin: auto 0;
}

.dropdown-import {
    position: absolute;
    transform: translate3d(0px, 45px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}

div.dataTables_filter input {
    height: calc(1.3rem + 1rem) !important;
}

.input-group-prepend {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.readonly > .input-group-prepend {
    background: #e9ecef !important;
}

.readonly > .search-item2 {
    background: #e9ecef !important;
    cursor: not-allowed;
    display: none;
}

.input-group > .form-control {
    border-radius: 0.5rem !important;
}

.input-group-prepend > span {
    margin: 5px;
    padding: 0 5px;
    background: #e9ecef !important;
    border: 1px solid #e9ecef !important;
    border-radius: 0.25rem !important;
    color: var(--theme-color-1);
    font-weight: bold;
    cursor: pointer;
}

.last-add::before {
    content: "***";
    background: var(--theme-color-1);
    border-radius: 50%;
    font-size: 5px;
    position: relative;
    top: -2px;
    left: -10px;
}

.readonly > .input-group-prepend > span {
    margin: 5px;
    padding: 0 5px;
    background: #d7d7d7 !important;
    border: 1px solid #d7d7d7 !important;
    border-radius: 0.25rem !important;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

span[class^="info-name"] {
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    top: 3px;
    left: 52.36663818359375px;
    padding: 5px 0px 5px 5px;
    z-index: 2;
    width: 180.883px;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 22px;
}

.readonly > span[class^="info-name"] {
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    top: 3px;
    left: 52.36663818359375px;
    padding: 5px 0px 5px 5px;
    z-index: 2;
    width: 180.883px;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 22px;
    background: #e9ecef !important;
}

.info-icon-hapus {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 35px;
    z-index: 3;
}

.readonly > .info-icon-hapus {
    display: none;
}

.form-control {
    padding: 0.1rem 0.5rem;
    height: calc(1.3rem + 1rem);
    border-radius: 0.5rem;
}

.table > tbody > tr > td > .form-control {
    border-radius: 0 !important;
}

.readonly > .form-control {
    background: #e9ecef !important;
}

.selectize-input {
    min-height: unset !important;
    padding: 0.1rem 0.5rem;
    height: calc(1.3rem + 1rem);
    line-height: 30px;
    border-radius: 0.5rem;
}

label {
    margin-bottom: 0.2rem;
}
h6 {
    font-size: 1rem !important;
}

#preview-close {
    line-height: 1.5;
    padding: 0;
    background: none;
    appearance: unset;
    opacity: unset;
    right: -40px;
    position: relative;
    top: 3px;
}
#preview-close > span {
    border-radius: 50%;
    padding: 0 0.45rem 0.1rem 0.45rem;
    background: white;
    color: black;
    font-size: 1.2rem !important;
    font-weight: lighter;
    box-shadow: 0px 1px 5px 1px #80808054;
}

#preview-close > span:hover {
    color: white;
    background: red;
}

.dataTables_paginate.paging_simple_numbers {
    float: right;
}
.icon-close {
    background: #d4d4d4;
    /* mask: url("{{ url('img/lock.svg') }}");
             */
    -webkit-mask-image: url("img/lock.svg");
    mask-image: url("img/lock.svg");
    width: 18px;
    height: 18px;
}
.icon-open {
    background: #d4d4d4;
    /* mask: url("{{ url('img/lock.svg') }}");
             */
    -webkit-mask-image: url("img/lock.svg");
    mask-image: url("img/lock.svg");
    width: 18px;
    height: 18px;
}

.selectize-input .locked{
    background:#e9ecef !important;
}