@media only screen and (max-width: 480px) {
    /* Header */
    .information-contact > p {
        color: #000;
        font-weight: normal !important;
    }
    .logo-nav {
        margin-top: 0;
    }
    .mainMenu-open #header #mainMenu {
        overflow-y: hidden;
        padding-top: 5.5rem;
    }
    /* General */
    .col-dekstop {
        display: none;
    }
    .col-mobile {
        display: block;
    }
}
