html,
body {
    height: 100%;
}
.logo {
    display: block;
}
.logo-default {
    font-weight: bold;
    color: #ff0022;
}
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    height: 0 !important;
    width: 0 !important;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #e4e4e4;
}
/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #adadad;
}
/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #ff0022;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dekstop {
    display: block;
}
.mobile {
    display: none;
}

@media only screen and (max-width: 480px) {
    .logo-mobile {
        position: absolute;
        left: 0;
    }
    .username-mobile {
        position: absolute;
        right: 8px;
    }
}
